/* Estilos generales */

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

nav ul a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

main {
  padding: 20px;
}

/* Estilos específicos */

.presentacion__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px; /* Agregado para separación del encabezado */
}

.image__container img {
  width: 200px;
  height: auto;
}

.skills__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px; /* Agregado para separación */
}

.skills__icons i,
.skills__icons span {
  margin: 0;
}

.proyectos__container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Cambiado de center a flex-start para alinear arriba */
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px; /* Agregado para separación */
}

.proyectos__encriptador,
.proyectos__barberia {
  flex-basis: calc(50% - 20px); /* Calculado para el 50% menos el espacio entre ellos */
}

.proyectos__encriptador img,
.proyectos__barberia img {
  width: 100%;
  height: auto;
}

.contactame__redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px; /* Agregado para separación */
}

.contactame__redes i,
.contactame__redes span,
.contactame__redes a {
  margin: 0;
}
